.a:hover{
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: scale(0,1);
      transform: scale(0,1);
  }
  
  a.effect-underline:hover:after {
    opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  .active{
    border-bottom: 3px solid #0b5ed7;
    font-weight: bold;
    color: #0b5ed7 !important;

  }
  